.home-main-section {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-grow: 1;
}

.home-main-section .bigtree-image {
    width: 40%;
    flex-grow: 1;
    height: auto;
    margin-right: 2rem;
    background-size: contain;
    background-position: bottom left; 
}

.bigtree-image img {
    max-width: 40vw;
    max-height: 80vh;
    display: block;
    position: absolute;
    bottom: 0px;
}

.home-main-section .call-to-action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    align-self: center;
    width: 50%;
}

@media (max-width: 700px) {

    .home-main-section .bigtree-image {
        display: none;
    }
    .home-main-section {
        justify-content: center;
        flex-direction: column;
    }



    .preedit-main-section .bigtree-image {
        margin-top: 2rem;
        height: 30vh;
        width: auto;
        height: auto;
    }
}

.home-page-circle-1 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: rgba(62, 114, 19, 0.1);
    bottom: 5vw;
    left: 5vw;
    z-index: -1;
}

.home-page-circle-2 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: rgba(14, 112, 83, 0.1);
    top: 15vw;
    left: 30vw;
    z-index: -1;
}

.home-page-circle-3 {
    position: absolute;
    overflow: hidden;
    width: 45vw;
    height: 45vw;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.home-page-circle-3::before {
    content: '';
    transform: translate(40%, 40%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgb(161, 170, 60, 0.2);
}