@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #55973E;
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
    color: #E3EB86;
    min-height: 100vh;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.brand-logo {
    display: flex;
    align-items: center;

}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a {
    color: #E3EB86;
    text-decoration: none;
    padding: 1rem;
}

.main-nav a:hover {
    color: #A1AA3C;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.container {
    padding: 0 20px;
    flex-grow: 1;
}

.title {
    font-weight: 600;
    font-size: 3em;
    margin-bottom: 1rem;
    margin-top: 0;
}

.subtitle {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 2rem;
}

.btn {
    color: #578137;
    background-color: #E3EB86;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #A1AA3C;
}

.btn:focus {
    background-color: #BFC66F;
}

.icon>img:first-child {
    cursor: pointer;
}

.icon{
    position: relative;
}

.icon>img:first-child:hover {
    filter: contrast(70%);

}

.icon>img:last-child {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
}



.icon>img:last-child:hover{
    filter: contrast(10%);
}